In [1]:
import numpy as np
import matplotlib.pylab as plt
from scipy import stats
from scipy.spatial.distance import pdist,squareform
import pandas as pd
import os
import itertools
import glob
import math
import time

def return_msa_parsed(align_file):
    uid = []
    sequence = []
    spec = []
    lines = open(align_file, "r")
    for line in lines:
        line = line.rstrip()
        if line[0] == ">":
            uid.append(line[1:])
            spec.append(line[1:].split('/')[0].split('_')[1])
            sequence.append([])
        else:
            sequence[-1].append(line)
    lines.close()
    sequence = [''.join(seq) for seq in sequence]
    print('parsing finished for {} sequences'.format(len(uid)))
    msa_df = pd.DataFrame()
    msa_df['species']=pd.Series(spec,dtype='category')
    msa_df['seqs']=np.arange(len(uid),dtype=np.int)
    print('pd initialized')
    return msa_df,sequence,uid

def write_concat_a2m(msa1_df,sequence_1,uid1,msa2_df,sequence_2,uid2,filename):
    #species_list = np.unique(np.concatenate((msa2_df['species'].values,msa1_df['species'].values)))
#     plt.histogram(np.concatenate((msa2_df['species'].values,msa1_df['species'].values)))
#     plt.savefig(os.path.basename(filename)+'/species_hist.png')         
    species_list = np.intersect1d(msa2_df['species'].unique(),msa1_df['species'].unique())
#     plt.histogram(np.concatenate((msa2_df['species'].values,msa1_df['species'].values)))
#     plt.savefig(os.path.basename(filename)+'/species_hist.png')   
    print('total number of species:{}'.format(len(species_list)))
    start = time.time()
    with open(filename,'w+') as f:
        for spec in species_list:
            #print(spec)
            #print('monomer 1:{} \t monomer 2:{} \t total alignments per specie: {}'.format(len(msa1_df[msa1_df['species']==spec]['seqs'].values),
            #                                                                               len(msa2_df[msa2_df['species']==spec]['seqs'].values),
            #      (len(msa2_df[msa2_df['species']==spec]['seqs'].values)*len(msa1_df[msa1_df['species']==spec]['seqs'].values)))
            #     )
            for prod in (itertools.product(msa1_df[msa1_df['species']==spec]['seqs'].values,msa2_df[msa2_df['species']==spec]['seqs'].values)):
                f.write('>'+uid1[prod[0]]+'-'+uid2[prod[1]]+'\n')
                f.write(sequence_1[prod[0]]+sequence_2[prod[1]]+'\n')
    print('time elapsed: {} seconds'.format(time.time()-start))

In [3]:
hpc_df = pd.read_csv('low_precision_complexes.csv',header=None)
hpc_df

      0           1
0     7  allpdb0027
1    22  allpdb0055
2    28  allpdb0068
3    38  allpdb0084
4    39  allpdb0086
5    48  allpdb0120
6    53  allpdb0127
7    64  allpdb0161
8    66  allpdb0171
9    69  allpdb0174
10   70  allpdb0175
11   91  allpdb0233
12   92  allpdb0234
13  119  allpdb0297
14  125  allpdb0315
15  129  allpdb0330
16  133  allpdb0340
17  140  allpdb0352
18  147  allpdb0377
19  181  allpdb0473
20  186  allpdb0493
21  202  allpdb0563
22  206  allpdb0584
23  221  allpdb0653
24  250  allpdb0731
25  323  allpdb1025
26  324  allpdb1029
27  328  allpdb1047
28  341  allpdb1104
29  353  allpdb1170
30  357  allpdb1205
31  358  allpdb1206
32  376  allpdb1295
33  390  allpdb1378
34  422  allpdb1507
35  442  allpdb1646
36  457  allpdb1697
37  498  allpdb1800
38  519  allpdb1877
39  548  allpdb2041

In [4]:
for index,row in hpc_df.iterrows():
    aligns = glob.glob('/home/as974/marks/users/kbrock/ecoli_complex/calibration/output/'+row.values[1]+'/align*')
    align_1 = aligns[0]+'/'+row.values[1]+'.a2m'
    align_2 = aligns[1]+'/'+row.values[1]+'.a2m'
    file_dir = 'benchmark/'+row.values[1]
    try: os.mkdir(file_dir)
    except: print(row.values[1] + ' already exists')
    msa1_df,sequence_1,uid1 = return_msa_parsed(align_1)
    msa2_df,sequence_2,uid2 = return_msa_parsed(align_2)
    print('finished parsing individual alignments')
    filename = file_dir+'/concatenation_fixed.a2m'
    write_concat_a2m(msa1_df,sequence_1,uid1,msa2_df,sequence_2,uid2,filename)
    print('finished concatenating alignments')
    del msa1_df
    del msa2_df

parsing finished for 9787 sequences
pd initialized
parsing finished for 126458 sequences
pd initialized
finished parsing individual alignments
total number of species:1607
time elapsed: 16.308589696884155 seconds
finished concatenating alignments
parsing finished for 2387 sequences
pd initialized
parsing finished for 1432 sequences
pd initialized
finished parsing individual alignments
total number of species:711
time elapsed: 0.8636472225189209 seconds
finished concatenating alignments
parsing finished for 27331 sequences
pd initialized
parsing finished for 5137 sequences
pd initialized
finished parsing individual alignments
total number of species:776
time elapsed: 2.12134051322937 seconds
finished concatenating alignments
parsing finished for 49430 sequences
pd initialized
parsing finished for 14029 sequences
pd initialized
finished parsing individual alignments
total number of species:574
time elapsed: 3.494563341140747 seconds
finished concatenating alignments
parsing finished for 24152 sequences
pd initialized
parsing finished for 1717 sequences
pd initialized
finished parsing individual alignments
total number of species:423
time elapsed: 0.8450870513916016 seconds
finished concatenating alignments
parsing finished for 20524 sequences
pd initialized
parsing finished for 481 sequences
pd initialized
finished parsing individual alignments
total number of species:79
time elapsed: 0.625568151473999 seconds
finished concatenating alignments
parsing finished for 22611 sequences
pd initialized
parsing finished for 1328 sequences
pd initialized
finished parsing individual alignments
total number of species:668
time elapsed: 0.9784202575683594 seconds
finished concatenating alignments
parsing finished for 25821 sequences
pd initialized
parsing finished for 14057 sequences
pd initialized
finished parsing individual alignments
total number of species:701
time elapsed: 52.822957038879395 seconds
finished concatenating alignments
parsing finished for 1939 sequences
pd initialized
parsing finished for 1881 sequences
pd initialized
finished parsing individual alignments
total number of species:377
time elapsed: 1.5793778896331787 seconds
finished concatenating alignments
parsing finished for 2053 sequences
pd initialized
parsing finished for 1939 sequences
pd initialized
finished parsing individual alignments
total number of species:384
time elapsed: 1.267698049545288 seconds
finished concatenating alignments
parsing finished for 1881 sequences
pd initialized
parsing finished for 5080 sequences
pd initialized
finished parsing individual alignments
total number of species:378
time elapsed: 2.2004520893096924 seconds
finished concatenating alignments
parsing finished for 80774 sequences
pd initialized
parsing finished for 76407 sequences
pd initialized
finished parsing individual alignments
total number of species:3002
time elapsed: 621.6512537002563 seconds
finished concatenating alignments
parsing finished for 54314 sequences
pd initialized
parsing finished for 76407 sequences
pd initialized
finished parsing individual alignments
total number of species:3069
time elapsed: 645.3834474086761 seconds
finished concatenating alignments
parsing finished for 1817 sequences
pd initialized
parsing finished for 678 sequences
pd initialized
finished parsing individual alignments
total number of species:97
time elapsed: 0.5664231777191162 seconds
finished concatenating alignments
parsing finished for 7390 sequences
pd initialized
parsing finished for 5310 sequences
pd initialized
finished parsing individual alignments
total number of species:1198
time elapsed: 4.883195877075195 seconds
finished concatenating alignments
parsing finished for 3187 sequences
pd initialized
parsing finished for 3186 sequences
pd initialized
finished parsing individual alignments
total number of species:869
time elapsed: 1.3463761806488037 seconds
finished concatenating alignments
parsing finished for 1264 sequences
pd initialized
parsing finished for 59559 sequences
pd initialized
finished parsing individual alignments
total number of species:190
time elapsed: 4.986799478530884 seconds
finished concatenating alignments
parsing finished for 93387 sequences
pd initialized
parsing finished for 5274 sequences
pd initialized
finished parsing individual alignments
total number of species:924
time elapsed: 65.18512320518494 seconds
finished concatenating alignments
parsing finished for 53984 sequences
pd initialized
parsing finished for 5858 sequences
pd initialized
finished parsing individual alignments
total number of species:942
time elapsed: 5.32227349281311 seconds
finished concatenating alignments
parsing finished for 105912 sequences
pd initialized
parsing finished for 6821 sequences
pd initialized
finished parsing individual alignments
total number of species:920
time elapsed: 23.47121524810791 seconds
finished concatenating alignments
parsing finished for 2856 sequences
pd initialized
parsing finished for 5348 sequences
pd initialized
finished parsing individual alignments
total number of species:938
time elapsed: 2.4471263885498047 seconds
finished concatenating alignments
parsing finished for 35316 sequences
pd initialized
parsing finished for 2969 sequences
pd initialized
finished parsing individual alignments
total number of species:727
time elapsed: 4.090579986572266 seconds
finished concatenating alignments
parsing finished for 47116 sequences
pd initialized
parsing finished for 1209 sequences
pd initialized
finished parsing individual alignments
total number of species:221
time elapsed: 10.095041513442993 seconds
finished concatenating alignments
parsing finished for 56464 sequences
pd initialized
parsing finished for 16968 sequences
pd initialized
finished parsing individual alignments
total number of species:1546
time elapsed: 162.45020055770874 seconds
finished concatenating alignments
parsing finished for 27632 sequences
pd initialized
parsing finished for 11442 sequences
pd initialized
finished parsing individual alignments
total number of species:1756
time elapsed: 51.1077516078949 seconds
finished concatenating alignments
parsing finished for 5653 sequences
pd initialized
parsing finished for 1422 sequences
pd initialized
finished parsing individual alignments
total number of species:710
time elapsed: 0.9314992427825928 seconds
finished concatenating alignments
parsing finished for 8624 sequences
pd initialized
parsing finished for 14232 sequences
pd initialized
finished parsing individual alignments
total number of species:627
time elapsed: 14.282143831253052 seconds
finished concatenating alignments
parsing finished for 30111 sequences
pd initialized
parsing finished for 7877 sequences
pd initialized
finished parsing individual alignments
total number of species:661
time elapsed: 29.204405784606934 seconds
finished concatenating alignments
parsing finished for 23834 sequences
pd initialized
parsing finished for 43613 sequences
pd initialized
finished parsing individual alignments
total number of species:2516
time elapsed: 62.06708097457886 seconds
finished concatenating alignments
parsing finished for 44426 sequences
pd initialized
parsing finished for 2262 sequences
pd initialized
finished parsing individual alignments
total number of species:276
time elapsed: 12.482364654541016 seconds
finished concatenating alignments
parsing finished for 201055 sequences
pd initialized
parsing finished for 12355 sequences
pd initialized
finished parsing individual alignments
total number of species:962
time elapsed: 573.3713672161102 seconds
finished concatenating alignments
parsing finished for 123542 sequences
pd initialized
parsing finished for 352 sequences
pd initialized
finished parsing individual alignments
total number of species:77
time elapsed: 5.308387994766235 seconds
finished concatenating alignments
parsing finished for 1424 sequences
pd initialized
parsing finished for 7953 sequences
pd initialized
finished parsing individual alignments
total number of species:701
time elapsed: 1.2528913021087646 seconds
finished concatenating alignments
parsing finished for 168997 sequences
pd initialized
parsing finished for 28882 sequences
pd initialized
finished parsing individual alignments
total number of species:1741

time elapsed: 326.40416526794434 seconds
finished concatenating alignments
parsing finished for 236541 sequences
pd initialized
parsing finished for 33175 sequences
pd initialized
finished parsing individual alignments
total number of species:2314
time elapsed: 462.9214539527893 seconds
finished concatenating alignments
parsing finished for 73274 sequences
pd initialized
parsing finished for 1487 sequences
pd initialized
finished parsing individual alignments
total number of species:784
time elapsed: 4.061470031738281 seconds
finished concatenating alignments
parsing finished for 3612 sequences
pd initialized
parsing finished for 127026 sequences
pd initialized
finished parsing individual alignments
total number of species:970
time elapsed: 5.6829612255096436 seconds
finished concatenating alignments
parsing finished for 163423 sequences
pd initialized
parsing finished for 1337 sequences
pd initialized
finished parsing individual alignments
total number of species:683
time elapsed: 1.0691242218017578 seconds
finished concatenating alignments
parsing finished for 65059 sequences
pd initialized
parsing finished for 4610 sequences
pd initialized
finished parsing individual alignments
total number of species:1003
time elapsed: 6.6499011516571045 seconds
finished concatenating alignments
parsing finished for 71000 sequences
pd initialized
parsing finished for 34092 sequences
pd initialized
finished parsing individual alignments
total number of species:2373
time elapsed: 302.4927921295166 seconds
finished concatenating alignments